:root {
    --main-color: #F4D04E;
    --main-gray: #111111;
    --secondary-gray: #6B6B6B;
    --white: #FFFFFF;
}

@font-face {
    font-family: Figtree-ExtraBold;
    src: url('./../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Figtree-Medium;
    src: url(./../assets/fonts/static/Figtree-Medium.ttf) format('truetype');
}

*,
*::before,
*::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--main-gray);
    border-radius: 15px;
    display: flex;
    background-color: var(--white);  
    width: 384px;
    box-shadow:8px 8px 0 rgb(0,0,0);
}

.illustration-article {
    border-radius: 10px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    padding:  4px 12px;
    background-color: var(--main-color);    
    border-radius: 4px;
    font-family: Figtree-ExtraBold, sans-serif ;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-gray);
    margin: 0;
    width: fit-content;
    line-height: 150%;
}

.date {
    font-family: Figtree-Medium, sans-serif;
    font-size: 14px;
}

.sub-title {
    font-family: Figtree-ExtraBold, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.sub-title:hover {
    color: var(--main-color)
}

.paragraph {
    color: var(--secondary-gray);
    font-size: 16px;
    margin: 0;
    font-family: Figtree-Medium, sans-serif;
    line-height: 150%;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    height: 32px;
}

span { 
    color: var(--main-gray);
    font-family: Figtree-ExtraBold, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.attribution {
    padding: 10px;
}

a {
    text-decoration: none;
}

@media (max-width: 375px) {

    .container {
        max-width: 328px;
        padding: 24px;
    }

    .illustration-article {
        border-radius: 10px;
    }

    .title,
    .date {
        font-size: 12px;
    }

    .sub-title {
        font-size: 20px;
    }

    .paragraph {
        font-size: 14px;
    }
}